.App {
  /* align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; */

  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;

  /* text-align: center; */
}

