.Cards-container{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh; */

/* 

    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap; */

    
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    min-height: 100vh;
    width: 80%;
    padding-inline: 120px;
    /* padding: 60px; */
    margin-top: 20px;
}

@media screen and (max-width: 720px){
.Cards-container{
    align-items: center;
    background-color: initial;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 100px;
    min-height: 100%;
    position: relative;
    z-index: 1;
}
}