

.filterBar-Container{
    /* padding: 10px 0; */


    padding-top: 80px;
    padding-bottom: 10px;
    display: flex;
    background-color: #343a40e5;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 35px;
    width: 100%;
}

.filter-teams{
    background-color: #fff;
    font-size: 0.8rem;
    border: 1px solid #6f6f6f;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.1rem 0.1rem;
    width: 11%;
    height: 60%;
    margin-left: 40px;
  }

  .filter-teams:hover {
    border-color: #8c00ff;
    background-color: #fdeb85;
    left: 0;
    width: 11.5%;
    border: 1px solid #6f6f6f;
    border-radius: 0.8rem;    
    box-shadow: 0 0 4px #e9e1f8;  
  }


  .other-filters{
    background-color: #fff;
    font-size: 0.8rem;
    border: 1px solid #6f6f6f;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.1rem 0.1rem;
    width: 10%;
    height: 60%;
  }

  .other-filters:hover {
    border-color: #8c00ff;
    background-color: #f7ecff;
    left: 0;
    width: 10.2%;
    border: 1px solid #6f6f6f;
    border-radius: 0.8rem;    
    box-shadow: 0 0 4px #e9e1f8;  
  }

  .reset-button{
        background: none;
        color:white;
        border: 1px solid white;
        border-radius: 1rem;   
        cursor: pointer;
        padding: 10px;
        margin-right: 50px;
  }

  .reset-button:hover{
    background: none;
    color:white;
    border: 1px solid white;
    border-radius: 0.8rem;   
    cursor: pointer;
    padding: 10px;
    margin-right: 50px;
    box-shadow: 0 0 4px #e9e1f8;  
}

.italic{
  font-style: italic;
}

@media screen and (max-width: 1055px){
  .filterBar-Container{
    align-items: flex-start;
    display: flex;
    padding-top: 90px;
    padding-bottom: 10px;
    width: 100vw;
    /* z-index: 50; */
  }

  .filter-teams{
    padding: 0.1rem 0.1rem;
    width: 11%;
    height: 60%;
    margin-left: 10px;
  }
  .reset-button{
    padding: 10px;
    margin-right: 10px;
}
}

@media screen and (max-width: 720px){
  .filterBar-Container{
    align-items: flex-start;
    display: flex;
    /* height: 140px;
    justify-content: space-between; */
    left: 0;
    /* padding-top: 1rem; */
    position: relative;
    top: 0;
    width: 100vw;
    /* z-index: 50; */
  }

  .filter-teams{
    padding: 0.1rem 0.1rem;
    width: 11%;
    height: 60%;
    margin-left: 10px;
  }
  .reset-button{
    padding: 10px;
    margin-right: 10px;
}
}

@media screen and (max-width: 300px){
  .filterBar-Container{
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    width: 100vw;
    /* z-index: 50; */
  }

  .filter-teams{
    padding: 0.1rem 0.1rem;
    width: 11%;
    height: 60%;
    margin-left: 10px;
  }
  .reset-button{
    margin-top: 20px;
}
}

