/* .homeContainer{
    margin-top: 50px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    background-image: url("../../assets/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    background-attachment: fixed; 
} */