

.mainContainer{
    /* background-color: #312e2e;
    position: relative;
    min-height: 50px;
    margin-bottom: 21px;
    border: 1px solid rgba(0,0,0,0);
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-around;
    border-radius: 15px; */

    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: 65px;
    border-bottom: 2px solid orange;
    width: 100%;
    background-color: white;
    box-shadow: 2px 0 5px orange;
    z-index: 50;

    
    /* background-color: #f44336;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px; */


}

.logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    /* justify-content: space-between; */
    color: rgb(36, 35, 34);
    font-family: 'Gill Sans MT', sans-serif;
    font-size: 25px;
    font-size: 400;
    font-weight: bold;
}

.logo {
    width: auto;
    height: 60px;
    /* filter: drop-shadow(2px 2px 5px black); */
}


.navButton{
    color: orange;
    position: relative;
    margin-left: 20px;
    left: 755px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    justify-content: space-between;
    text-transform: none;
    font-weight: bold;
    /* text-align: center; */
    cursor:pointer;
    text-decoration: none;
    padding: 8px 10px;

}   

.navButton:after{
    content: "";
    position: absolute;
    right:0px;
    bottom:0;
    left:0;
    height:0.3px;
    width:100%;
    background-color: #737577e5;
    opacity: 0.7;

    transform: scaleX(0);

    transform-origin: right; 
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

.navButton:hover:after {
    opacity: 0.7;
    transform-origin: left; 
    transform: scaleX(1);
    /* border-radius: 5px; */
  }




  @media screen and (max-width: 1055px) {
    .mainContainer {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoContainer {
    
        margin-left: 1.5rem;
    }
    .navButton{
        margin: auto;
        left:0;
        display: flex;
        justify-content: none;
        align-items: center;
    }
}


    @media screen and (max-width: 720px) {

        .logoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 9rem;
            justify-content: space-between;
            font-size: 1rem;
            margin-left: 1rem;
        }
    
        .logo {
            width: auto;
            height: 40px;
        }

        .navButton{
            margin: auto;
            left:0;
            display: flex;
            justify-content: none;
            align-items: center;
        }

    } 
